* { margin:0; padding:0; box-sizing:border-box; }

body {
  font-family: Arial, sans-serif;
  background: #f5f6fa;
  color: #333;
}

/* NAV */
nav {
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:18px 40px;
  background:#111;
}

nav .brand {
  color:white;
  font-weight:bold;
  font-size:20px;
}

nav a {
  color:white;
  text-decoration:none;
  margin-left:20px;
}

/* HERO */
.hero {
  text-align:center;
  padding:100px 20px;
  background: linear-gradient(120deg,#1a1a1a,#333);
  color:white;
}

.small-hero {
  padding:60px 20px;
}

/* BUTTON */
.cta-btn {
  display:inline-block;
  margin-top:15px;
  padding:12px 25px;
  background:#ff4d6d;
  color:white;
  text-decoration:none;
  border-radius:6px;
}

/* CATEGORIES */
.categories {
  display:flex;
  justify-content:center;
  gap:50px;
  padding:60px 20px;
}

.category-card img {
  width:260px;
  height:260px;
  object-fit:cover;
  border-radius:12px;
}

.category-card p {
  text-align:center;
  margin-top:10px;
  font-weight:bold;
}

/* PRODUCTS */
.products {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:30px;
  padding:60px 40px;
}

.card img {
  width: 100%;
  max-width: 250px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}


.card img {
  width: 100%;
  max-width: 250px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}


button {
  margin-top:10px;
  padding:8px 16px;
  background:#ff4d6d;
  color:white;
  border:none;
  border-radius:6px;
}

/* FOOTER */
footer {
  text-align:center;
  padding:20px;
  background:#111;
  color:white;
}
